# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run this app.
#
# @see https://github.com/rolodato/dotenv-safe
# ------------------------------------------------------------------------------

# app credentials

PROVIDER_SPOTIFY_CLIENT_ID=
PROVIDER_SPOTIFY_CLIENT_SECRET=
PROVIDER_SPOTIFY_REDIRECT_URI=

PROVIDER_TWITTER_CLIENT_ID=
PROVIDER_TWITTER_CLIENT_SECRET=

# user credentials

SPOTIFY_USER_ACCESS_TOKEN=
SPOTIFY_USER_REFRESH_TOKEN=

TWITTER_USER_ACCESS_TOKEN=
TWITTER_USER_ACCESS_TOKEN_SECRET=

# automation settings

# URL or ID of spotify playlist to pull tracks from
# example: https://open.spotify.com/playlist/2MgkBl2rQnPdF3WZ6ciajc?si=gF7XkYJLRBWo8lxoMKmySA
SPOTIFY_PLAYLIST=
